---
---

@import "main";

body {
  background-image: url("/images/back.jpg");
}

h1 {
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: 'Lucida Sans';
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card__content {
  text-align: justify;
	position: relative;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: 100px auto 60px;
	padding: 30px 40px 22px;
	background: #fff;
}

.card__caption {
	font-size: 2em;
	max-width: 800px;
	margin: 0 auto;
	padding: 35px 30px 0px;
}

.card__title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #3b393d;
}

.card__copy {
	font-size: 1.25em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: #3b393d;
}

.wrapper {
  margin: 4%;
}

.wrapper-card {
  position: relative;
  display: inline-block;
  margin: 1%;
}

.card-picture {
  border-radius: 4%;
  border: 1px solid black;
  height: auto;
  width: 300px;
}

.card-picture-section {
  border: 1px solid black;
  width: 90%;
  height: 300px;
  overflow: hidden;
}

.card-picture-section img {
  width: 100%;
  height: auto;
  margin: -10% 0 0 0;
}

.plant-name {
  font-family: 'Lucida Sans';
  font-size: x-large;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: -20px;
  margin-left: 15px;
}